{% extends 'shared/_layout.html' %}

{% block title %}فراموشی کلمه عبور{% endblock %}

{% block content %}
    <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="col-sm-6 col-md-offset-3">
                    <div class="signup-form"><!--sign up form-->
                        <h2>فراموشی کلمه عبور</h2>
                        <div class="alert alert-warning">
                            در حال حاضر امکان بازیابی رمز عبور وجود ندارد لطفا با <a href="{% url 'contact_us_page' %}">واحد پشتیبانی</a> تماس بگیرید!
                        </div>
                        <form>
                            <!-- {% csrf_token %} -->


                            {{ forget_pass_form.phone_number.label_tag }}
                            {{ forget_pass_form.phone_number }}
                            {{ forget_pass_form.phone_number.errors }}

                            <button class="btn btn-default">فراموشی کلمه عبور</button>
                        </form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </section>
    </div>
{% endblock %}