{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load thumbnail %}
{% load poll_extras %}

{% block title %}
    لیست خرید های من
{% endblock %}

{% block content %}
    <div class="container container-user-panel">
        <div class="row flex">
            <div class="user-panel-dashboard">
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>

            <div id="shop_product" class="col-sm-9 padding-right shop-products-container">
                <div class="features_items">
                    {% if responses %}
                        {% for response in responses %}
                        <p><strong>عنوان:</strong> {{ response.title }}</p>
                        <p><strong>نام و نام خانوادگی:</strong> {{ response.full_name }}</p>
                        <p><strong>ایمیل:</strong> {{ response.phone_number }}</p>
                        <p><strong>پیام:</strong> {{ response.message }}</p>
                        <p><strong>پاسخ ادمین:</strong> {{ response.response }}</p>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-warning">
                            <p>لیست پیام ها خالی می باشد.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}