{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load thumbnail %}
{% load poll_extras %}

{% block title %}
    پیام ها
{% endblock %}

{% block content %}
    <div class="container container-user-panel">
        <div class="row flex">
            <div class="user-panel-dashboard">
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>

            <div id="shop_product" class="col-sm-9 padding-right shop-products-container">
                <div class="features_items">
                    {% if responses %}
                        {% for response in responses %}
                            <div class="response-con">
                                <div class="r-title-con">
                                    <div class="r-name"><strong>نام و نام خانوادگی:</strong> <div>{{ response.full_name }}</div></div>

                                    <div class="r-email"><strong>شماره تلفن:</strong> <div>{{ response.phone_number }}</div></div>
                                </div>

                                <div class="r-title"><strong>عنوان:</strong> <div>{{ response.title }}</div></div>

                                <div class="r-message-response-con">
                                    <div class="r-message"><strong>پیام:</strong> <div>{{ response.message }}</div></div>
    
                                    <div class="r-response"><strong>پاسخ ادمین:</strong> <div>{{ response.response }}</div></div>
                                </div>
                            </div>
                        
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-warning">
                            <p>لیست پیام ها خالی می باشد.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}