{% extends 'shared/_layout.html' %}
{% load render_partial %}

{% block title %}
    ویرایش اطلاعات کاربری
{% endblock %}

{% block content %}
    <div class="container container-user-panel">
        <div class="row flex">
            <div class="user-panel-dashboard">
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>
            <div class="col-md-8">
                <form enctype="multipart/form-data" action="{% url 'edit_profile_page' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">ثبت</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}