{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load thumbnail %}
{% load poll_extras %}

{% block title %}
    لیست خرید های من
{% endblock %}

{% block content %}
    <div class="container container-user-panel">
        <div class="row flex">
            <div class="user-panel-dashboard">
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>

            <div id="shop_product" class="col-sm-9 padding-right shop-products-container">
                <div class="features_items">
                    {% if favorites %}
                        {% for favorite in favorites %}
                            <a class="shop-product-link" href="{{ favorite.product.get_absolute_url }}">
                                <div class="shop-product">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <form action="{% url 'remove_favorite' favorite.product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit"><span class=" fa fa-trash-o"></span>حذف از فهرست</button>
                                                </form>
                                                {% if favorite.product.image %}
                                                    {% thumbnail favorite.product.image "268x250" quality=90 crop='center' as im %}
                                                        <img src="{{ im.url }}">
                                                    {% endthumbnail %}
                                                {% else %}
                                                    <img src="/static/images/shop/product.jpg" alt="">
                                                {% endif %}
                                            
                                                <div class="laptop-colors">
                                                    {% for col in favorite.product.color %}
                                                        <div class="color" style="background-color: {{ col }};"></div>
                                                    {% endfor %}
                                                </div>
                                            
                                                <div class="laptop-detail">
                                                    <div>
                                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" fill="#000000" width="128" height="128" viewBox="0 0 20 20">
                                                            <path d="M6.987 10.987l-2.931 3.031L2 11.589V18h6.387l-2.43-2.081 3.03-2.932-2-2zM11.613 2l2.43 2.081-3.03 2.932 2 2 2.931-3.031L18 8.411V2h-6.387z"/>
                                                        </svg>
                                                        <span>{{ favorite.product.screen_size }}</span>
                                                    </div>
                                                
                                                    <div>
                                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 1024 1024" class="icon">
                                                            <path fill="#000000" d="M320 256a64 64 0 00-64 64v384a64 64 0 0064 64h384a64 64 0 0064-64V320a64 64 0 00-64-64H320zm0-64h384a128 128 0 01128 128v384a128 128 0 01-128 128H320a128 128 0 01-128-128V320a128 128 0 01128-128z"/>
                                                            <path fill="#000000" d="M512 64a32 32 0 0132 32v128h-64V96a32 32 0 0132-32zm160 0a32 32 0 0132 32v128h-64V96a32 32 0 0132-32zm-320 0a32 32 0 0132 32v128h-64V96a32 32 0 0132-32zm160 896a32 32 0 01-32-32V800h64v128a32 32 0 01-32 32zm160 0a32 32 0 01-32-32V800h64v128a32 32 0 01-32 32zm-320 0a32 32 0 01-32-32V800h64v128a32 32 0 01-32 32zM64 512a32 32 0 0132-32h128v64H96a32 32 0 01-32-32zm0-160a32 32 0 0132-32h128v64H96a32 32 0 01-32-32zm0 320a32 32 0 0132-32h128v64H96a32 32 0 01-32-32zm896-160a32 32 0 01-32 32H800v-64h128a32 32 0 0132 32zm0-160a32 32 0 01-32 32H800v-64h128a32 32 0 0132 32zm0 320a32 32 0 01-32 32H800v-64h128a32 32 0 0132 32z"/>
                                                        </svg>
                                                        <span>{{ favorite.product.cpu }}</span>
                                                    </div>
                                                
                                                    <div>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 22c3.976 0 8-1.374 8-4V6c0-2.626-4.024-4-8-4S4 3.374 4 6v12c0 2.626 4.024 4 8 4zm0-2c-3.722 0-6-1.295-6-2v-1.268C7.541 17.57 9.777 18 12 18s4.459-.43 6-1.268V18c0 .705-2.278 2-6 2zm0-16c3.722 0 6 1.295 6 2s-2.278 2-6 2-6-1.295-6-2 2.278-2 6-2zM6 8.732C7.541 9.57 9.777 10 12 10s4.459-.43 6-1.268V10c0 .705-2.278 2-6 2s-6-1.295-6-2V8.732zm0 4C7.541 13.57 9.777 14 12 14s4.459-.43 6-1.268V14c0 .705-2.278 2-6 2s-6-1.295-6-2v-1.268z"/></svg>
                                                        <span>{{ favorite.product.internal_memory }}</span>
                                                    </div>
                                                </div>
                                                <p>{{ favorite.product.title }}</p>
                                                <h2>{{ favorite.product.price | three_digits_currency }}</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>



                            <a class="shop-product-link mobile-mode" href="{{ product.get_absolute_url }}">
                                <div class="shop-product">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <form action="{% url 'remove_favorite' favorite.product.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit"><span class=" fa fa-trash-o"></span>حذف از فهرست</button>
                                            </form>
                                            <div class="productinfo text-center">
                                                <div class="mobile-mode-picture">
                                                    {% if favorite.product.image %}
                                                        {% thumbnail favorite.product.image "268x250" quality=90 crop='center' as im %}
                                                            <img src="{{ im.url }}">
                                                        {% endthumbnail %}
                                                    {% else %}
                                                        <img src="/static/images/shop/product.jpg" alt="">
                                                    {% endif %}
                                                </div>
                                            
                                                <div class="mobile-mode-detail">
                                                    <p>{{ favorite.product.title }}</p>
                                                    <div class="laptop-detail">
                                                        <div>
                                                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" fill="#000000" width="128" height="128" viewBox="0 0 20 20">
                                                                <path d="M6.987 10.987l-2.931 3.031L2 11.589V18h6.387l-2.43-2.081 3.03-2.932-2-2zM11.613 2l2.43 2.081-3.03 2.932 2 2 2.931-3.031L18 8.411V2h-6.387z"/>
                                                            </svg>
                                                            <span>{{ favorite.product.screen_size }}</span>
                                                        </div>
                                                    
                                                        <div>
                                                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 1024 1024" class="icon">
                                                                <path fill="#000000" d="M320 256a64 64 0 00-64 64v384a64 64 0 0064 64h384a64 64 0 0064-64V320a64 64 0 00-64-64H320zm0-64h384a128 128 0 01128 128v384a128 128 0 01-128 128H320a128 128 0 01-128-128V320a128 128 0 01128-128z"/>
                                                                <path fill="#000000" d="M512 64a32 32 0 0132 32v128h-64V96a32 32 0 0132-32zm160 0a32 32 0 0132 32v128h-64V96a32 32 0 0132-32zm-320 0a32 32 0 0132 32v128h-64V96a32 32 0 0132-32zm160 896a32 32 0 01-32-32V800h64v128a32 32 0 01-32 32zm160 0a32 32 0 01-32-32V800h64v128a32 32 0 01-32 32zm-320 0a32 32 0 01-32-32V800h64v128a32 32 0 01-32 32zM64 512a32 32 0 0132-32h128v64H96a32 32 0 01-32-32zm0-160a32 32 0 0132-32h128v64H96a32 32 0 01-32-32zm0 320a32 32 0 0132-32h128v64H96a32 32 0 01-32-32zm896-160a32 32 0 01-32 32H800v-64h128a32 32 0 0132 32zm0-160a32 32 0 01-32 32H800v-64h128a32 32 0 0132 32zm0 320a32 32 0 01-32 32H800v-64h128a32 32 0 0132 32z"/>
                                                            </svg>
                                                            <span>{{ favorite.product.cpu }}</span>
                                                        </div>
                                                    
                                                        <div>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 22c3.976 0 8-1.374 8-4V6c0-2.626-4.024-4-8-4S4 3.374 4 6v12c0 2.626 4.024 4 8 4zm0-2c-3.722 0-6-1.295-6-2v-1.268C7.541 17.57 9.777 18 12 18s4.459-.43 6-1.268V18c0 .705-2.278 2-6 2zm0-16c3.722 0 6 1.295 6 2s-2.278 2-6 2-6-1.295-6-2 2.278-2 6-2zM6 8.732C7.541 9.57 9.777 10 12 10s4.459-.43 6-1.268V10c0 .705-2.278 2-6 2s-6-1.295-6-2V8.732zm0 4C7.541 13.57 9.777 14 12 14s4.459-.43 6-1.268V14c0 .705-2.278 2-6 2s-6-1.295-6-2v-1.268z"/></svg>
                                                            <span>{{ favorite.product.internal_memory }}</span>
                                                        </div>
                                                    </div>
                                                    <h2>{{ favorite.product.price|three_digits_currency }}</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                    <div class="alert alert-warning">
                        <p>لیست علاقه مندی شما خالی می باشد.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}