{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load poll_extras %}

{% block title %}
    لیست خرید های من
{% endblock %}

{% block content %}
    <div class="container container-user-panel">
        <div class="row flex">
            <div class="user-panel-dashboard">
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>
            {% if favorites %}
            {% for favorite in favorites %}
                <li>{{ favorite.product.title }} - {{ favorite.product.price }} تومان</li>
                <form action="{% url 'remove_favorite' favorite.product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">حذف</button>
                </form>
            {% endfor %}
            {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-warning">
                            <p>محصولی به لیست مورد علاقه اضافه نشده!</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
{% endblock %}