{% extends 'shared/_layout.html' %}
{% load render_partial %}

{% block title %}
    داشبورد
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>
            <div class="col-md-8">
                <p>this is user dashboard</p>
                <li><a href="{% url 'logout_page' %}"><i class="fa fa-sign-out"></i> خروج</a></li>
            </div>
        </div>
    </div>
{% endblock %}