{% load poll_extras %}

{% if order.orderdetail_set.all %}
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="{% url 'home_page' %}">خانـه</a></li>
                    <li class="active">پرداخت</li>
                </ol>
            </div>
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <div class="cart-title">
                        <div class="title-header">
                            <h4>سبد خرید شما</h4>
                            <div class="more-detail-container">
                                <svg id="more_detail" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                                    <path d="M12 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 12c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
                                </svg>
                                
                                <div id="remove_all"><span class="fa fa-trash-o"></span>حذف همه</div>
                            </div>
                        </div>
                        <h6>{{ order.orderdetail_set.count }} کالا</h6>
                    </div>

                    {% for detail in order.orderdetail_set.all %}
                    <tbody class="cart-detail">
                        <tr class="product-img">
                            <td class="cart_product">
                                <a href=""><img src="{{ detail.product.image.url }}" width="75" alt=""></a>
                            </td>
                        </tr>
                        
                        <tr class="product-detail">
                            <td class="cart_description">
                                <h4><a href="" class="one-line-text">{{ detail.product.title }}</a></h4>
                                <p>شناسـه : {{ detail.product.id }}</p>
                                <h4>رنگ : <span>مشکی</span></h4>
                            </td>
                        </tr>

                        <tr class="product-price">
                            <td class="cart_total">
                                <p class="cart_total_price"> {% multiply detail.count detail.product.price %} </p>
                                {# <p class="cart_total_price"> {{ detail.get_total_price|three_digits_currency }} </p>#}
                            </td>

                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <a class="cart_quantity_up cursor-pointer"
                                       onclick="changeOrderDetailCount({{ detail.id }}, 'increase')"><span class="fa fa-plus"></span></a>
                                    <input class="cart_quantity_input" type="text" name="quantity"
                                           value="{{ detail.count }}"
                                           autocomplete="off" size="5">
                                    {% if detail.count > 1 %}
                                        <a class="cart_quantity_down  cursor-pointer"
                                           onclick="changeOrderDetailCount({{ detail.id }}, 'decrease')"><span class="fa fa-minus"></span></a>
                                    {% else %}
                                        <a class="cart_quantity_down  cursor-pointer trash"
                                        onclick="changeOrderDetailCount({{ detail.id }}, 'decrease')"><span class="fa fa-trash-o"></span></a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
    <section id="do_action">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="total_area">
                        <ul>
                            <li>قیمت کالاها<span class="product-count"> (4)</span><span>{{ sum|three_digits_currency }}</span></li>
                            <li class="discount">مجموع تخفیف کالاها<span>230,000 تومان</span></li>
                            <li>مبلغ قابل پرداخت<span>38,308,00 تومان</span></li>
                        </ul>
                        <a class="btn btn-default check_out" href="{% url 'request_payment' %}">پرداخت</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% else %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    <p>سبد خرید شما خالی می باشد</p>
                </div>
            </div>
        </div>
    </div>
{% endif %}