{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load poll_extras %}

{% block title %}
    جزییات خرید
{% endblock %}

{% block content %}
    <div class="container container-user-panel">
        <div class="row flex">
            <div class="user-panel-dashboard">
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>
            <div class="col-md-8 user-shopping-detail">
                <table class="table table-responsive table-hover table-striped">
                    <tr>
                        <th>شناسه</th>
                        <th>محصول</th>
                        <th>تعداد</th>
                        <th>قیمت نهایی خرید</th>
                    </tr>
                    {% for detail in order.orderdetail_set.all %}
                        <tr>
                            <td>{{ detail.id }}</td>
                            <td>{{ detail.product.title }}</td>
                            <td>{{ detail.count }}</td>
                            <td>{{ detail.final_price|three_digits_currency }}</td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
{% endblock %}