@media (min-width: 992px) and (max-width: 1199px) {
 
 
.usa{
	margin-right: 0;
} 

.shipping img{
	width: 100%;
}

.searchform input{
	width: 160px;
}

.product-information span span{
	width: 100%;
}

#similar-product .carousel-inner .item img{
	width: 65px;
}
}


@media (max-width: 991px) {
body{
	margin-bottom: 17%;
}

.header_top .col-sm-6:first-child{
	display: inline-block;
}

.header_top .col-sm-6:last-child{
	display: inline-block;
}

.header-middle .col-sm-4 {
	display: inline-block;
	overflow: inherit;
	width: 100%;
}

.logo-container .logo img {
	min-width: 100px;
	max-width: 100px;
	min-height: 25px;
	max-height: 25px;
}

.logo-container .nav{
	margin-right: 10px;
	font-size: 13px;
}



.mainmenu ul li a {
	font-size: 12pt;
}

.social-icons ul li a i {
	padding: 8px 10px;
}

.shop-menu.pull-right{
	float: none !important;
}

.shop-menu .nav.navbar-nav{
	margin-left: -30px;
}

.header-bottom .col-sm-9{
	display: inline-block;
	width: 100%;
}

#header {
	width: 100%;
	position: sticky;
	z-index: 3;
	top: 0;
	left: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
.search-container {
	width: 60%;
}
.header-bottom{
	display: none;
}
.header-middle-container .nav{
	display: none;
}
.logo-container{
	justify-content: flex-start;
}
.search_box input {
	border-radius: 5vw;
	background-position: 96%;
}

.header-bottom .col-sm-3 {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 38px;
}



/* fixed elements */
.mobile-menu{
	width: 100%;
	height: 8%;
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 3;
	background-color: white;
}
.mobile-menu ul{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: 10px 0;
	font-size: 15px;
}

.user-basket-link span {
    width: 17px;
    height: 15px;
    border-radius: 0.5vw;
    top: 12px;
    right: -14px;
}

#do_action{
	position: fixed;
	width: 100%;
	background-color: white;
	z-index: 3;
	bottom: 7.9%;
	margin: 0;
}

#do_action .col-sm-6{
	padding: 0;
	float: none;
	border-radius: 0;
	position: relative;
	top: 0;
	margin: 0;
}

#do_action .col-sm-6 .total_area{
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
	padding: 0 10px;
	border: none;
	margin: 0;
}

#do_action .total_area ul{
	margin: 0;
	align-items: center;
	display: flex;
}

#do_action .total_area li:last-child{
	display: flex;
	flex-direction: column;
	opacity: 100%;
	font-weight: bold;
}

#do_action .total_area ul li{
	margin: 0;
	background: none;
	display: none;
}

#do_action .total_area span{
	float: right;
}

#do_action .total_area .btn{
	width: 55%;
	margin: 0;
	padding: 10px 15px;
	border-radius: 2vw;
	align-content: center;
}


#order-detail-content #cart_items {
	width: 100%;
	padding-left: 15px;
}

#order-detail-content .cart-detail{
	flex-wrap: wrap;
}

#cart_items .cart_info .table .cart_product img {
	max-width: 100px;
	min-width: 100px;
	max-height: 80px;
	min-height: 80px;
}
.cart-detail .product-img {
	width: 100px;
}

.cart-detail .product-detail{
	width: 65%;
}

.cart-detail .product-price{
	width: 100%;
	margin: 0;
	margin-top: 15px;
	justify-content: space-between;
	flex-direction: row;
}
.cart-detail .product-price .cart_quantity{
	width: 30%;
}

#slider-carousel .item{
	padding-left: 0;
}

.shipping{
	margin-bottom: 25px;
}

.pricing{
	width: 100px;
}

.footer-top .col-sm-7 .col-sm-3{
	width: 50%;
	float: left;
}

.footer-widget .col-sm-2 {
	width: 28%;
	display: flex;
	margin-bottom: 50px;
	margin-top: 0;
	float: left;
	margin-left: 30px;
}

.companyinfo{
	text-align: center;
}

.footer-widget .col-sm-3{
	display: inline-block;
}

.product-information span {
	display: block;
}

#similar-product {
	margin-bottom: 40px;
}

.well{
	display: inline-block;
}

.user-panel-dashboard{
	font-size: 12px;
}
}


@media (min-width: 767px) and (max-width: 991px) {
.logo-container .logo img {
	min-width: 200px;
	max-width: 200px;
	min-height: 35px;
	max-height: 35px;
}


.mobile-menu{
	height: 10%;
}

   
.shop-menu ul li a{
	padding-left: 0;
}

#slider-carousel .item{
	padding-left: 30px;
}

.item h2{
	font-size: 24px;
}

.girl{
	margin-left: 0;
}

.pricing{
	width: 100px;
}


.shipping img{
	width: 100%;
}

.slider.slider-horizontal{
	width: 100% !important;
}

.tab-pane .col-sm-3, .features_items .col-sm-4{
	width: 50%;
}

.footer-widget .col-sm-2{
	width: 33%;
	display: inline-block;
	margin-bottom: 50px;
}

.footer-widget .col-sm-3{
	display: inline-block;
	width: 40%;
}

#similar-product .carousel-inner .item img{
	width: 60px;
	margin-left: 0;
}

.product-information span span{
	display: block;
	width: 100%;
}

.product-information .cart{
	margin-left: 0;
	margin-top: 15px;
}

.item-control i{
	font-size: 12px;
	padding: 5px 6px;
}

.companyinfo h2{
	font-size: 20px;
}

.address {
	margin-top: 48px;
	margin-left: 20px;
}

.address p {
	font-size: 12px;
	top: 5px;
}

.user-panel-dashboard{
    font-size: 12px;
}
}


@media (max-width: 480px) {

.contactinfo{
	text-align: center;
}

.contactinfo ul li a {
	padding-right: 15px;
	padding-left: 0;
}

.social-icons.pull-right{
	float: none !important;
	text-align: center;
}

.btn-group.pull-right, 
.footer-bottom .pull-left, 
.footer-bottom .pull-right, 
.mainmenu.pull-left,
.media.commnets .pull-left,
.media-list .pull-left{
	float: none !important;
}

.header_top .col-sm-6:first-child{
	display: block;
	float: none;
}

.header_top .col-sm-6:last-child{
	display: block;
	float: none;
}

.contactinfo .nav.nav-pills, .social-icons .nav.navbar-nav{
	display: inline-block;
}

.logo{
	text-align: center;
}
.search_box input {
	font-size: 11px;
}


.shop-menu ul li {
	padding: 0;
}

.header-middle .col-sm-4{
	text-align: center;
	overflow: inherit;
}

.shop-menu .nav.navbar-nav {
	margin-left: 0;
}

.btn-group>.btn-group:last-child>.btn:first-child{
	margin-right: 0;
}

.header-bottom .col-sm-9{
	display: inline-block;
	width: 100%;
}

.mainmenu{
	width: 100%;
}


#do_action .total_area .btn{
	width: 45%;
}

.cart-detail .product-price .cart_quantity{
	width: 35%;
	height: 40px;
}
.cart_quantity_button a {
	font-size: 20px !important;
}
.cart_quantity_input {
	width: 30%;
    font-size: 12px;
}


#cart_items .cart_info .cart_total_price {
    font-size: 14pt;

}

.cart-title div h4 {
    font-size: 22px;
}
.cart-title h6 {
    font-size: 16px;
}

#cart_items .cart_info .cart_description h4 a {
	font-size: 12pt;
}


ul.sub-menu{
  position: relative;
  width: auto;
  display: block;
  background: transparent;
  box-shadow: none;
  top: 0;
}


.mainmenu .navbar-nav li ul.sub-menu li{
	background: transparent;
	padding-bottom:0;
}

.nav.navbar-nav > li:hover > ul.sub-menu{
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
  box-shadow: none;
}

	
.img-responsive{
	max-width: 90% !important;
}
	
.item{
	padding-left: 0;
}

.item h1{
	font-size: 30px;
	margin-top: 0;
}

.item h2{
	font-size: 20px;
}

.pricing{
	width: 70px;
}

.category-tab ul li a{
	font-size: 12px;
}

.companyinfo h2, .companyinfo p{
	text-align: center;
}

.video-gallery{
	margin-top: 30px;
}

.footer-bottom p{
	font-size: 13px;
	text-align: center;
}

.footer-widget .col-sm-2 {
	width: 50%;
	display: flex;
	margin-bottom: 50px;
	margin-top: 0;
	float: left;
	padding-right: 0;
	padding-left: 30px;
	margin-left: 0;
}

.single-widget {
	padding-left: 0;
}

.features_items{
	margin-top: 30px;
}

.category-tab .nav-tabs li{
	float: none;
}

#similar-product .carousel-inner .item img{
	margin-left: 4px;
}

.product-information{
	margin-top: 40px;
}

#reviews p, .blog-post-area .single-blog-post p{
	text-align: justify;
}

#reviews form span input{
	width: 100%;
	margin-bottom: 20px;
}

#reviews form span input:last-child{
	margin-left: 0;
}

.blog-post-area .single-blog-post h3{
	font-size: 14px;
}

.blog-post-area .post-meta ul li{
	margin-right: 7px;
	font-size: 5pt;
}

	.sinlge-post-meta li i:after, .blog-post-area .post-meta ul li i:after {
		top: 4px;
		right: 20px;
	}
	
.shipping{
	margin-bottom: 20px;
}

.commnets{
	padding: 0;
}

.content-404 h1{
	font-size: 30px;
}

.content-404 h2 a{
	font-size: 20px;
}

.order-message{
	display: inline-block;
}

.response-area .media img{
	width: auto;
}

.sinlge-post-meta li{
	margin-bottom: 10px;
}

.product-information{
	padding-left: 0;
	text-align: center;
}

.product-information span span{
	float: none;
}
}

@media (max-width: 400px) {
.logo-container .logo img {
	min-width: 80px;
	max-width: 50px;
	min-height: 20px;
	max-height: 20px;
}

#cart_items .cart_info .table .cart_product img {
    max-width: 80px;
    min-width: 80px;
    max-height: 70px;
    min-height: 70px;
}
.cart-detail .product-img {
    width: 80px;
}
}