{% extends 'shared/_layout.html' %}

{% block title %}مقایسه محصولات{% endblock %}

{% block header_references %}
    <link href="/static/css/compare.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>مقایسه محصولات</h1>
    <form method="post">
        {% csrf_token %}
        <ul>
            {% for product in products %}
                <li>
                    <input type="checkbox" name="products" value="{{ product.id }}">
                    {% include 'includes/product_item_partial.html' with product=product col_size=4 %}
                </li>
                {% endfor %}
        </ul>
        <button type="submit">مقایسه محصولات</button>
    </form>
{% endblock %}