<header id="header">
    <div class="header-middle">
        <div class="header-middle-container">

            <div class="logo-container">
                
                <div class="logo">
                    <img src="{{ site_setting.site_logo.url }}" alt="Logo"/>
                </div>
                
                <div class="search-container">
                    <div class="search_box pull-left">
                        <form method="GET" action="{% url 'search' %}">
                            <button type="submit"><span class="fa fa-search"></span></button>
                            <input type="text" name="q" placeholder="محصول مورد نظرتان را جستجو کنید ...">
                        </form>
                    </div>
                </div>
                
                <ul class="nav navbar-nav">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'profile_page' %}"><i class="fa fa-user"></i> پنل کاربری</a></li>
                {% else %}
                    <li><a href="{% url 'register_page' %}"><i class="fa fa-user-plus"></i> ثبت نام</a></li>
                    <li><a href="{% url 'login_page' %}"><i class="fa fa-sign-in"></i> ورود</a></li>
                {% endif %}
                {% if total_items %}
                    <li><a class="user-basket-link" href="{% url 'user_basket_page' %}"><i class="fa fa-shopping-cart"></i> سبد خرید <span>{{ total_items.orderdetail_set.count }}</span></a></li>
                {% endif %}

                </ul>

            </div>
        </div>
    </div>

    <div class="header-bottom">
        <div class="container">
            <div class="row">

                <div class="col-sm-9 menu">
                    <div class="mainmenu pull-right">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li>
                                <a href="{% url 'home_page' %}" class="{% if request.resolver_match.url_name == 'home_page' %}active{% endif %}">خـانه</a>
                            </li>

                            <li>
                                <a class="{% if request.resolver_match.url_name == 'product-list' %}active{% endif %}" href="{% url 'product-list' %}">فروشگاه</a>
                            </li>

                            <li>
                                <a class="{% if request.resolver_match.url_name == 'about_page' %}active{% endif %}" href="{% url 'about_page' %}">درباره مـا</a>
                            </li>

                            <li>
                                <a class="{% if request.resolver_match.url_name == 'contact_us_page' %}active{% endif %}" href="{% url 'contact_us_page' %}">تماس با مـا</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

<div class="mobile-menu">
    <ul>
        <li><a href="{% url 'home_page' %}" class="{% if request.resolver_match.url_name == 'home_page' %}active{% endif %}"><i class="fa fa-home"></i> خـانه</a></li>

        <li><a class="{% if request.resolver_match.url_name == 'product-list' %}active{% endif %}" href="{% url 'product-list' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 22h14a2 2 0 0 0 2-2V9a1 1 0 0 0-1-1h-3v-.777c0-2.609-1.903-4.945-4.5-5.198A5.005 5.005 0 0 0 7 7v1H4a1 1 0 0 0-1 1v11a2 2 0 0 0 2 2zm12-12v2h-2v-2h2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-2 3h2v2H7v-2z"/></svg>
            فروشگاه
        </a></li>
        
        {% if total_items %}
            <li><a class="user-basket-link" href="{% url 'user_basket_page' %}"><i class="fa fa-shopping-cart"></i> سبد خرید <span>{{ total_items.orderdetail_set.count }}</span></a></li>
        {% endif %}   

        {% if request.user.is_authenticated %}
            <li><a href="{% url 'profile_page' %}"><i class="fa fa-user"></i> پنل کاربری</a></li>
        {% else %}
            <li><a href="{% url 'register_page' %}">ثبت نام</a></li>
            <li><a href="{% url 'login_page' %}"><i class="fa fa-sign-in"></i> ورود</a></li>
        {% endif %}
    </ul>
</div>